<!DOCTYPE html>
<html>
<head>
    <title>نمایش اطلاعات به شکل جدول</title>
</head>
<body>
    <h1>انتخاب اتاق:</h1>
    <form method="post" action="/">
        <label for="room_id">شناسه اتاق:</label>
        <input type="text" id="room_id" name="room_id" required>
        <input type="submit" value="درخواست اطلاعات">
    </form>

    {% if data %}
    <h1>جدول اطلاعات:</h1>
    <table border="1">
        <thead>
            <tr>
                {% for column in data["columns"] %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data["values"] %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>هیچ اطلاعاتی موجود نیست. لطفاً شناسه اتاق را وارد کنید.</p>
    {% endif %}
</body>
</html>
